## Assignment-1

###  1. In the below elements which of them are values or an expression?
#### *
#### 'hello'
#### -87.8
#### -
#### /
#### +
#### 6

#### Ans:  Values -> 'hello', -87.8, 6 ; Operators->  * - / +

### 2. What is the difference between string and variable?

#### Ans: A Variable is a store of information, and a String is a type of information you would store in a Variable. A String is usually words which are enclosed with "  "

#### Eg- String x ="Hello there..!" 
#### x is the Variable, and we declared it as a String, use the single = to assign the text to it.

### 3. Describe three different data types.

#### Ans: 1) Python Numeric Data type
#### In Python, numeric data type is used to hold numeric values.

#### Integers, floating-point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

#### int - holds signed integers of non-limited length.
#### float - holds floating decimal points and it's accurate up to 15 decimal places.
#### complex - holds complex numbers.

In [1]:
num1 = 12 
type(num1)

int

In [2]:
num2 = 2.0 
type(num2)

float

In [3]:
num3 = 12j+1
type(num3)

complex

#### 2) Python List Data Type
####  List is an ordered collection of similar or different types of items separated by commas and enclosed within brackets [ ].
#### Example:

In [4]:
Languages = ['English','Telugu','Hindi']
print(Languages[0])
print(Languages[2])
type(Languages)

English
Hindi

list

#### 3) Python String Data Type
#### String is a sequence of characters represented by either single or double quotes. For example,

In [5]:
Name = 'Shridhar'
print(Name)
type(Name)

Shridhar

str

### 4. What is an expression made up of? What do all expressions do?

#### Ans: - An Expression is a combination of variables and operators. Expressions perform operation of variable based on 
#### the operators and evaluates the values to a single variable.

varibales :
X = 5
Y = 10 

expression: 
Z = X + Y 
Here 'Z' is the expression where it evaluates the values and stores the inforamtion with it

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:
-The assignemnt statemets assign a value to the variable.
- The expressions evaluates the value to a variable.
- In spam = 10, 'spam'is assigned with value of 10 
- But in expression a = C+B, the value of a depends on the value of C and B.

### 6. After running the following code, what does the variable bacon contain?
bacon = 22  
bacon + 1

#### Ans: 
#### The bacon variable is set to 22. The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1)

### 7. What should the values of the following two terms be?
'spam' + 'spamspam'        
'spam' * 3

In [6]:
##Ans:
add = 'spam' + 'spamspam'
multiply = 'spam' * 3
print(f'add: {add}')
print(f'multiply: {multiply}')
      
### Both expressions evaluate to the string 'spamspamspam'

add: spamspamspam
multiply: spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?

#### Ans: Variable names cannot begin with a number.

#### Example:

In [7]:
eggs = 50
eggs

50

In [8]:
10 = 50

SyntaxError: cannot assign to literal (Temp/ipykernel_18148/3767380435.py, line 1)

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#### Answer: The following functions
- int()
- float()
- str()  will convert the values to integer, float or string versions of the values passed to them

### 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 +  'burritos.'

In [9]:
'I have eaten ' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

As per the above error we can note that we cannot add integer with str directly we have to convert int into str type then the above expression will work

In [10]:
'I have eaten ' + str(99) + 'burritos.'

'I have eaten 99burritos.'